@import "~antd/dist/antd.css";

.layout {
  height: 100%;

  & .layout-header {
    color: #fafafa;
  }

  & .layout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 1em;
    }

    & .slogan-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .slogan {
        font-size: 2em;
        font-weight: bold;
      }
    }
  }

  & .layout-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.error-message {
  display: block;
  height: 1em;
}

.submit-button {
  width: 12.5em;
}

.ant-modal-body {
  text-align: center;
}
